* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 100px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #39311d;
  position: sticky;
  top: -0.5px;
  text-transform: uppercase;
  height: 100px;
  z-index: 1;
}

h1 {
  color: #cccccc;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 500px;
}

header p {
  font-size: 30px;
  color: #cccccc;
}

a {
  text-decoration: none;
  color: #ffdd93;
}

footer {
  background: #39311d;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 60px;
  z-index: 1;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

footer p {
  margin-left: 15px;
  color: #cccccc;
}

nav p {
  color: #cccccc;
}

div nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer nav a {
  margin-top: 3px;
}

@media (min-width:600px) {
  footer nav {
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
  }
}

@media (min-width: 900px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding-right: 10vw;
    padding-left: 10vw;
  }

  nav ul {
    width: 300px;
  }
}
