body {
  background: #7e7474;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}

img {
  margin-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 200px;
}

section {
  width: 400px;
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 400px;
  width: 450px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Lato';
}
.projectLink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
}

figure+a {
  display: block;
  text-align: center;
  font-size: 25px;
  font-family: 'Lato';
}

figcaption {
  width: 375px;
  height: 100px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}

@media (min-width: 900px) {
  div {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}
